.Footer {
    font-size: 14px;
    background: var(--gray-700);

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    width: 100%;
     
    padding: 1.25rem 0rem;
    bottom: 0;
}

.Footer p {
    margin-right: 10px;
    color: var(--purple);
}

.Footer a{
    text-decoration: none;
}

.Footer a:visited {
    text-decoration: none;
    color: var(--purple);
}

.Footer a:hover {
    color: var(--blue);
}
