.Footer {
    font-size: 12px;
    color: var(--blue);
    background: var(--gray-700);

    display: flex;
    justify-content: right;
    align-items: center;
     
    padding: 1.25rem 0rem;
    margin-top: 10%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Footer p {
    margin-right: 10px;
    color: var(--purple);
}

.Footer button {
    background-color: var(--gray-700);
    cursor: pointer;
    padding: 8px;
    border: none;
}

.Footer a{
    text-decoration: none;
}

.Footer a:hover {
    color: var(--blue);
}

.Footer a:visited {
    text-decoration: none;
}
