.header {
     font-size: 2.5rem;
     font-weight: bold;
     color: var(--blue);
     background: var(--gray-700);

     display: flex;
     justify-content: center;     
     padding: 1.25rem 0rem;
}

.header img {
     margin-right: 20px;
}